
*.prefs

.classpath

.project

*.class

target/classes/META-INF/MANIFEST.MF

target/classes/META-INF/maven/com.kaseya/trident-spring/pom.properties

target/classes/META-INF/maven/com.kaseya/trident-spring/pom.xml

target/maven-archiver/pom.properties

target/trident-spring-0.0.1-SNAPSHOT.jar

target/classes/input.xml

*.lst
/target
